        <p *ngIf="message?.repliedMessage">Replied to <span [ngClass]="{'text-red-500':message?.directReceiverId===selectedChat?.id}">{{message?.repliedMessage?.text}}</span>👇</p>
       <span
        [ngClass]="{'bg-blue-700 text-white':message?.directReceiverId===selectedChat?.id}"
         class="w-full bg-green-500 text-white">
          {{message?.sender?.firstName}} :
          <span [ngClass]="{'text-yellow-500 bg-green-300 italic':message?.isEdited&&message?.directReceiverId==selectedChat?.id}">
          <small *ngIf="message.forwardedMessage" class=" text-blue-800 ml-2">from {{message.sender?.firstName?.slice(0,5)}}</small>
            {{ message?.text }}
        </span>
          </span>
          <span *ngIf="message?.files?.length">
            <small *ngIf="message.forwardedMessage?.files" class=" text-blue-800 ml-2">from {{message.sender?.firstName?.slice(0,5)}}</small>
            <small *ngFor="let file of message?.files"  (click)="downloadFileEventEmitter(file)"    class=" cursor-pointer hover:text-red-900 hover:outline-red-900  hover:outline-2 hover:border-b-2 hover:border-b-slate-950 ">{{file.name}}</small>
          </span>
          <small *ngIf="message?.isEdited">edited</small>
          <small>{{message?.createdAt |date:'HH:mm'}}</small>
          <button *ngIf="selectedChat?.id!==message?.senderId&&!message.forwardedMessage" (click)="editMessageEventEmitter()">📝</button>
          <button class="hover:scale-110 active:scale-95" (click)="deleteMessageForMyselfEventEmitter()">🚫</button>
          <button class="hover:scale-110 active:scale-95" (click)="deleteMessageForEveryoneEventEmitter()">❎</button>
          <button (click)="replyMessageEventEmitter()">↩️</button>
          <button (click)="forwardMessageEventEmitter()">🔃</button>

