       <span
          [ngClass]="{'bg-blue-700 text-white':message?.receiverId===selectedChat?.id}"
           class="w-full bg-green-500 text-white">
           {{message?.sender?.firstName}} : {{ message?.text }}
          </span>
          <small *ngIf="message?.isEdited||editingMessage?.isEdited">edited</small>
          <small>{{message?.createdAt |date:'HH:mm'}}</small>
          <button *ngIf="selectedChat?.id!==message?.senderId" (click)="editMessageEventEmitter()">📝</button>
          <button class="hover:scale-110 active:scale-95" (click)="deleteMessageForMyselfEventEmitter()">🚫</button>
          <button class="hover:scale-110 active:scale-95" (click)="deleteMessageForEveryoneEventEmitter()">❎</button>

