
<div class="users">

  <ul>
    <li [ngClass]="{'bg-slate-900 text-white': user === selectedChat} " class="text-black bg-white" (click)="selectChat(user)" *ngFor="let user of users">{{ user.firstName }} {{user.lastName}}</li>
  </ul>

</div>

<div class="chat bg-slate-300">
  <h2 class="text-green-700">{{ selectedChat?.firstName }} {{selectedChat?.lastName}}</h2>
  <form *ngIf="selectedChat"  (submit)="sendMessage()" [formGroup]="inputGroup">
    <input formControlName="message" type="text" [value]="this.inputGroup.value.message" >
    <button *ngIf="!this.editingMessage" type="submit">send</button>
    <button *ngIf="this.editingMessage" type="submit">edit</button>
    <ul>
      <li *ngFor="let message of income">
            <app-message-item
            [message]="message"
            [selectedChat]="selectedChat"
            [editingMessage]="editingMessage">
          </app-message-item >
          <button class=" hover:scale-110 active:scale-95" *ngIf="message.senderId!==selectedChat.id"  (click)="editMessage(message)">📝</button>
          <button class="hover:scale-110 active:scale-95" (click)="deleteMessageForMyself(message)">❌</button>
          <button class="hover:scale-110 active:scale-95" (click)="deleteMessageForEveryone(message)">❎</button>
        </li>
    </ul>
  </form>
</div>


