<div class="users">

  <ul>
    <li
      *ngFor="let user of users"
      class="text-black bg-white" (click)="selectChat(user)"
      [ngClass]="{'bg-slate-900 text-white': user === selectedChat} ">
      {{ user.firstName }} {{ user.lastName }}
      <span>{{ getIncomingMessagesCount(user) }}⬇️</span>
      <span>⬆️{{ getSentMessagesCount(user) }}</span>
    </li>
  </ul>

</div>

<div class="chat bg-slate-300">
  <h2 class="text-green-700">{{ selectedChat?.firstName }} {{ selectedChat?.lastName }}</h2>
  <form *ngIf="selectedChat" [formGroup]="inputGroup">
    <p *ngIf="repliedMessage">{{ repliedMessage.text }}</p>
    <p *ngIf="editingMessage">{{ editingMessage.text }}</p>
    <input [value]="this.inputGroup.value.message" formControlName="message" type="text">
    <input (change)="onFileSelected($event)" formControlName="file" multiple type="file">
    <button (click)="sendMessage()" *ngIf="!this.editingMessage">send</button>
    <button (click)="editMessage()" *ngIf="this.editingMessage">edit</button>
    <div #container>
      <ul class="overflow-y-auto max-h-32">
        <li *ngFor="let message of income">
          <app-message-item
            (deleteMessageForEveryoneEvent)="deleteMessageForEveryone($event)"
            (deleteMessageForMyselfEvent)="deleteMessageForMyself($event)"
            (downloadFileEvent)="downloadFile($event)"
            (editMessageEvent)="onSelectEditingMessage($event)"
            (forwardMessageEvent)="forwardMessage($event)"
            (replyMessageEvent)="replyMessage($event)"
            [editingMessage]="editingMessage"
            [message]="message"
            [selectedChat]="selectedChat"
          >
          </app-message-item>
        </li>
    </ul>
    </div>
  </form>
</div>



