<mat-dialog-content style="overflow: hidden;">



  <!-- DELETE AND LEAVE   -->
 <button  type="button" class="w-full flex items-center gap-2  text-slate-900  hover:bg-slate-100 border-none outline-none  font-medium rounded-lg text-sm px-5 py-2.5 mt-2 mb-2">
   <svg class="text-gray-400 dark:text-gray-500 w-6 h-6"
   aria-hidden="true"
   fill="#ef4444"
   viewBox="0 0 20 20"
   xmlns="http://www.w3.org/2000/svg">
   <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
   clip-rule="evenodd">
 </path>
 </svg>
 <span class="block text-sm text-red-500">Delete and Leave</span>
 </button>
 <!-- DELETE AND LEAVE END -->
  <div class="px-2 py-1 sm:flex sm:flex-row-reverse sm:px-3 ">

  </div>

</mat-dialog-content>
